

outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#inner_fixed {
  height: 100px;
  background-color: grey;
}

inner_remaining {
  background-color: #DDDDDD;
  flex-grow : 1;
}

screenFiller {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 15px solid orange;
  background-color: black;
}



#publish {
  background-color:green;

  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  border-radius: 12px;
}
div{
  border-radius: 4px;
}
input
{
  border-radius: 5px;
   width:420px;
  height:20px;
}
td{
  width:50%;
}
